[submodule "modules/hyperzsh"]
	path = modules/hyperzsh
	url = https://github.com/tylerreckart/hyperzsh.git
[submodule "modules/vim-plug"]
	path = modules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
