[submodule "modules/vim-sensible"]
	path = vim/.vim/pack/my-plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "modules/vim-colors-solarized"]
	path = vim/.vim/pack/my-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/.vim/pack/my-plugins/opt/vim-javascript"]
	path = vim/.vim/pack/my-plugins/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/pack/my-plugins/opt/ale"]
	path = vim/.vim/pack/my-plugins/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/pack/my-plugins/opt/nerdtree"]
	path = vim/.vim/pack/my-plugins/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim\\.vim\\pack\\my-plugins\\opt\\vim-jsx"]
	path = vim\\.vim\\pack\\my-plugins\\opt\\vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim\\.vim\\pack\\my-plugins\\start\\oceanic-next"]
	path = vim\\.vim\\pack\\my-plugins\\start\\oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
